body {
    background-color: black;
    color: antiquewhite;
    font-family: 'Trebuchet MS', Trebuchet, monospace;
}

.accordion-button:not(.collapsed) {
    color: antiquewhite;
    background-color: black;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-item:last-of-type .accordion-collapse {
    color: antiquewhite;
    background-color: black;
}

.accordion-item {
    background-color: black;
    color: antiquewhite;
    border: 1px solid rgba(0,0,0,.125);
}

.accordion-button {
    background-color: black;
    color: antiquewhite;
}

.accordion-button::after {
    background-image: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.btn-dark {
    background-color: black;
}

.navbar-dark {
    background-color: black;
    color: antiquewhite;
}

card {
    background-color: black;
    color: antiquewhite;
}

.input-dark {
    background-color: black;
    color:antiquewhite;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}