{% extends "layout.html" %} 

{% block body %}
<div class="container">
  <div class="row">
      <div class="col-md">
      </div>
      <div class="col-md">
        <div class="card text-bg-dark mb-3" style="width: 18rem;background-color:black;color:antiquewhite;">
            <div class="card-body">
              <h5 class="card-title">Change Password</h5>
              <form action="/change_password" method="post">
                <div>
                    <input type="password" id="oldPass" name="oldPass" class="input-dark" placeholder="old password">
                </div>
                <p></p>
                <div>
                    <input type="password" id="newPass" name="newPass" class="input-dark" placeholder="New Password">
                </div>
                <p></p>
                <div>
                    <input type="password" id="confirm" name="confirm" class="input-dark" placeholder="Confirm New Password">
                </div>
                <p></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-dark"> Change Password </button>
                </div> 
              </form>
              
            </div>
          </div>
      </div>
      <div class="col-md">
      </div>
  </div>
</div>
{% endblock %}