{% extends "layout.html" %} 

{% block body %} 
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div>
                    <h3>Backlog</h3>

                    <div class="accordion accordion-flush" id="accordionFlushExample1">

                        {% for task in backlog %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="{{ task.name }}-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ task.name }}-collapse" aria-expanded="false" aria-controls="{{ task.name }}-collapse">
                                {{ task.name }}
                                </button>
                            </h2>
                            <div id="{{ task.name }}-collapse" class="accordion-collapse collapse" aria-labelledby="{{ task.name }}-heading" data-bs-parent="#accordionFlushExample1">
                                <div class="accordion-body">{{ task.desc }}</div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <form method="post" action="/start_task">
                                        <input type="hidden" name="start" id="start" value="{{ task.id }}">
                                        <button type="submit" class="btn btn-dark">Start</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div>
                        <a class="btn btn-dark" role="button" aria-disabled="true" href="/new_task"> + </a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div>
                    <h3>In Progress</h3>

                    <div class="accordion accordion-flush" id="accordionFlushExample2">
                        {% for task in inProg %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="{{ task.name }}-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ task.name }}-collapse" aria-expanded="false" aria-controls="{{ task.name }}-collapse">
                                {{ task.name }}
                                </button>
                            </h2>
                            <div id="{{ task.name }}-collapse" class="accordion-collapse collapse" aria-labelledby="{{ task.name }}-heading" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">{{ task.desc }}</div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <form method="post" action="/finish_task">
                                        <input type="hidden" name="finish" id="finish" value="{{ task.id }}">
                                        <button type="submit" class="btn btn-dark">Finish</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div>
                    <h3>Done</h3>

                    <div class="accordion accordion-flush" id="accordionFlushExample3">
                        {% for task in done %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="{{ task.name }}-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ task.name }}-collapse" aria-expanded="false" aria-controls="{{ task.name }}-collapse">
                                {{ task.name }}
                                </button>
                            </h2>
                            <div id="{{ task.name }}-collapse" class="accordion-collapse collapse" aria-labelledby="{{ task.name }}-heading" data-bs-parent="#accordionFlushExample3">
                                <div class="accordion-body">{{ task.desc }}</div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <form method="post" action="/delete_task">
                                        <input type="hidden" name="delete" id="delete" value="{{ task.id }}">
                                        <button type="submit" class="btn btn-dark">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}