{% extends "layout.html" %} 

{% block body %} 
    <div class="container">
        <div class="row">
        <div class="col-md">
            <div>
                <h3>Backlog</h3>

                <div class="accordion accordion-flush" id="accordionFlushExample1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne1">
                            Accordion Item #1
                            </button>
                        </h2>
                        <div id="flush-collapseOne1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne1" data-bs-parent="#accordionFlushExample1">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <form method="post" action="/start_task">
                                    <input type="hidden" name="start" id="{{ task.id }}">
                                    <button type="submit" class="btn btn-dark">Start</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <a class="btn btn-dark" role="button" aria-disabled="true"> + </a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div>
                <h3>In Progress</h3>

                <div class="accordion accordion-flush" id="accordionFlushExample2">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne2">
                            Accordion Item #1
                            </button>
                        </h2>
                        <div id="flush-collapseOne2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne2" data-bs-parent="#accordionFlushExample2">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <form method="post" action="/finish_task">
                                    <input type="hidden" name="finish" id="{{ task.id }}">
                                    <button type="submit" class="btn btn-dark">Finish</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div>
                <h3>Done</h3>

                <div class="accordion accordion-flush" id="accordionFlushExample3">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne3" aria-expanded="false" aria-controls="flush-collapseOne3">
                            Accordion Item #1
                            </button>
                        </h2>
                        <div id="flush-collapseOne3" class="accordion-collapse collapse" aria-labelledby="flush-headingOne3" data-bs-parent="#accordionFlushExample3">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <form method="post" action="/delete_task">
                                    <input type="hidden" name="delete" id="{{ task.id }}">
                                    <button type="submit" class="btn btn-dark">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}