{% extends "layout.html" %} 

{% block body %}
<div class="container">
  <div class="row">
      <div class="col-md">
      </div>
      <div class="col-md">
        <div class="card text-bg-dark mb-3" style="width: 18rem;background-color:black;color:antiquewhite;">
            <div class="card-body">
              <h5 class="card-title">Log In</h5>
              <form action="/login" method="post">
                <div>
                    <input type="text" id="name" name="name" class="input-dark" placeholder="Name">
                </div>
                <p></p>
                <div>
                    <input type="password" id="password" name="password" class="input-dark" placeholder="Password">
                </div>
                <p></p>
                <p></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-dark"> Log In </button>
                </div> 
              </form>
              
            </div>
          </div>
      </div>
      <div class="col-md">
      </div>
  </div>
</div>
{% endblock %}