{% extends "layout.html" %} 

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md">
    </div>
    <div class="col-md">
      <div class="card text-bg-dark mb-3" style="width: 18rem;background-color:black;color:antiquewhite;">
          <div class="card-body">
            <h5 class="card-title">New Task</h5>
            <form action="/new_task" method="post">
              <div>
                  <input type="text" id="name" name="name" class="input-dark" placeholder="Name">
              </div>
              <p></p>
              <div>
                  <input type="text" id="desc" name="desc" class="input-dark" placeholder="Description" rows="5">
              </div>
              <p></p>
              <p></p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="submit" class="btn btn-dark"> Create Task </button>
              </div> 
            </form>
            
          </div>
        </div>
    </div>
    <div class="col-md">
    </div>
  </div>
</div>
{% endblock %}